@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --main-color: #23d4ce;
}
body {
  font-family: "Metropolis", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* X-Large */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #ccc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 72px;
  display: flex;
  align-items: center;
}
header .links-btns {
  display: flex;
  gap: 50px;
  align-items: center;
}
header .nav-links .hover-icon {
  color: white;
  font-size: 30px;
  display: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
header .nav-links .hover-icon:hover {
  color: var(--main-color);
}
header .nav-links ul {
  display: flex;
  font-size: 14px;
}
header .nav-links ul a {
  color: white;
  padding: 20px;
  transition: all 0.25s ease;
  border-top: 1px solid transparent;
  display: block;
}
header .nav-links ul a:hover {
  color: var(--main-color);
}
header .nav-links ul li:first-child a {
  padding-right: 30px;
  border-right: 1px solid #ccc;
}
header .nav-links ul li:nth-child(2) a {
  padding-left: 30px;
}
@media (max-width: 991px) {
  header .logo img {
    width: 150px;
  }
  header .nav-links .hover-icon {
    display: block;
  }
  header .nav-links .links-btns {
    display: none;
  }
  header .nav-links .links-btns {
    gap: 5px;
  }
  header .nav-links .hover-icon:hover + .links-btns {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-bottom: 15px;
    background-color: rgb(0 0 0 / 50%);
  }
  header .nav-links ul li a:hover {
    border-top: 1px solid var(--main-color);
  }
  header .nav-links ul li a {
    padding: 15px;
  }
  header .nav-links ul li:first-child a {
    padding-right: 15px;
    border-right: none;
  }
  header .nav-links ul li:nth-child(2) a {
    padding-left: 15px;
  }
}
.btns {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btns .btn-white {
  background-color: white;
  color: var(--main-color);
}
.btns .btn-green {
  background-color: var(--main-color);
  color: white;
}
.btns .btn-white,
.btns .btn-green {
  border: none;
  font-family: "Inter", sans-serif;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 6px;
}
/* Landing */
.landing {
  background-image: url(../images/landing2.png);
  background-size: cover;
}
.landing .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/network.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.landing .text {
  text-align: center;
}
.landing h1 {
  font-size: 50px;
  color: white;
}
.landing h1 span {
  color: var(--main-color);
}
.landing p {
  color: #efefef;
  font-size: 25px;
  line-height: 34px;
  max-width: 875px;
  text-align: left;
  margin: 25px auto 35px;
  font-family: "Metrophobic", sans-serif;
}
.landing .btns {
  justify-content: center;
}
@media (max-width: 767px) {
  .landing h1 {
    font-size: 35px;
  }
  .landing p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
  }
}
/* Services */
.services {
  padding: 75px 0;
}
.services .container {
  position: relative;
}
.services .holder-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -225px;
}
.services .holder-img img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services .holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.services .holder .hold-one,
.services .holder .hold-two {
  display: flex;
  flex-direction: column;
  gap: 125px;
  max-width: 450px;
}
.services .holder .hold-one {
  direction: rtl;
}
.services .holder .box {
  display: flex;
  gap: 25px;
}
.services .hold-one .box:last-child img {
  margin-right: 11px;
}
.services .holder .box h3 {
  font-size: 30px;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}
.services .holder .box p {
  font-size: 20px;
  line-height: 1.5;
  color: #556575;
}
@media (max-width: 1400px) {
  .services .holder-img {
    display: none;
  }
}
@media (max-width: 991px) {
  .services .holder {
    flex-direction: column;
  }
  .services .holder .hold-one {
    direction: ltr;
  }
  .services .holder .hold-one,
  .services .holder .hold-two {
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .services .holder .box {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  .services .holder .box h3 {
    font-size: 25px;
  }
  .services .holder .box p {
    font-size: 18px;
  }
  .services .hold-one .box:last-child img {
    margin-right: 0;
  }
}
/* Partners */
.partners {
  padding: 75px 0;
  background-color: #f7f7f7;
}
.partners .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
/* Testimonials */
.testimonials {
  text-align: center;
  padding: 75px 0;
}
.testimonials .main-title {
  margin-bottom: 50px;
}
.testimonials h2 {
  margin-bottom: 30px;
  color: #333;
  font-size: 36px;
  position: relative;
}
.testimonials h2::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 4px;
  margin-left: 5px;
  bottom: -15px;
  background-color: var(--main-color);
}
.testimonials .main-title p {
  color: #556575;
  font-size: 24px;
}
.testimonials .container {
  background-image: url(../images/earth.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  min-height: 70vh;
}
.testimonials .one {
  top: 125px;
  left: 95px;
}
.testimonials .two {
  top: 410px;
  left: 175px;
}
.testimonials .three {
  top: 275px;
  left: 495px;
}
.testimonials .three > img + .text {
  opacity: 1;
}
.testimonials .four {
  top: 115px;
  left: 662px;
}
.testimonials .five {
  top: 239px;
  left: 929px;
}
.testimonials .six {
  top: 496px;
  left: 1018px;
}
.testimonials .box {
  max-width: 280px;
  position: absolute;
}
.testimonials .box > img {
  cursor: pointer;
  width: 80px;
  height: 80px;
  transition: all 0.25s ease;
  z-index: 3;
}
.testimonials .box > img:hover + .text {
  opacity: 1;
}
.testimonials .box .text {
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  opacity: 0;
  position: relative;
  transition: all 0.25s ease;
  padding: 10px 20px;
}
.testimonials .box .text::before {
  position: absolute;
  content: "";
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-width: 15px;
  border-color: transparent transparent white transparent;
  border-style: solid;
  z-index: 1;
}
.testimonials .box .text h3 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #323232;
}
.testimonials .box .text p {
  text-align: left;
  margin-bottom: 10px;
}
@media (max-width: 1400px) {
  .testimonials .container {
    display: grid;
  }
  .testimonials .holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
  }
  .testimonials .box {
    position: static;
    top: unset;
    left: unset;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 100%;
  }
  .testimonials .box .text {
    opacity: 1;
  }
  .testimonials .box .text::before {
    border: none;
  }
}
@media (max-width: 767px) {
  .testimonials .main-title h2 {
    font-size: 28px;
  }
  .testimonials .main-title p {
    font-size: 20px;
  }
  .testimonials .box .text {
    width: 100%;
  }
  .testimonials .box .text h3 {
    font-size: 20px;
  }
  .testimonials .box .text p {
    text-align: center;
		font-size: 14px;
  }
}
